/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    padding: 5px;
}

/* HEADER */

header {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position:sticky;
}

.logo {
    padding-left: 5px;
    max-height: 50px;
    width: auto;
}

.logo-text {
    font-size: 40px;
    display: inline-block;
}

/* MAIN */

main {
    background-color: #f6f8f9;
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1024px;
}

.container {
    background-color: #3e7794;
    padding: 50px;
    max-width: 800px;
    margin-left: 80px;
    margin-right: 50px;
    border-radius: 10px;
}


.buttons {
    padding-bottom: 40px;
    border-style: solid;
    border: #f6f8f9;
}

button {
    background-color: #47adf1;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

button.add-section {
    color: gray;
    background-color: white;
    border: gray;
}

button.tag {
    border-radius: 30px;
    font-size: 10px;
}

button.tag.purple {
    background-color: #9c72e4;
}

button.tag.orange {
    background-color: #f29e33;
}

button.tag.pink {
    background-color: #d761a0;
}

button.tag.green {
    background-color: #64c0a9;
}

button.tag.peagreen {
    background-color: #b0c926;
}

.task-list {
    background-color: aqua;
    padding: 10px;
}

.task-list h3.open::before{
    content: "⏷";
}

.task-list ul {
    list-style: none;
}

.task-list ul li{
    margin-bottom: 10px;
}

.mark {
    border-style: solid;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    font-size: 16px;
    padding-left: 0.4rem;
}

.mark.check {
    color: green;    
    border-color: green;
}

.mark.check::after {
    content: "✓";
}

.mark.cross {
    color: rgb(128, 0, 0);
    border-color: rgb(128, 0, 0);
}

.mark.cross::after {
    content: "✘";
}