/* GENERAL */

body {
    
    background-color: #f6f8f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    padding: 5px;
}

/* HEADER */

header {
    padding: 10px 20px;
    margin-bottom: 50px;
    position:sticky;
    background-color: white;
}

.logo {
    vertical-align: middle;
    width: auto;
    display: inline-block;
}

.logo-text {
    font-size: 35px;
    font-weight: bolder;
    vertical-align: middle;
}

/* MAIN */

main {
    background-color: #f6f8f9;
    margin: 0 auto;
    max-width: 1024px;
}

.container {
    padding: 50px;
    margin-left: 80px;
    margin-right: 50px;
    border-radius: 10px;
}

.buttons,.task-list {
    background-color: white;
    padding: 20px 60px;
    margin: 1px;
}

button {
    background-color: #47adf1;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.add-task {
    border: 1px solid #47adf1;
}

button.add-section {
    color: gray;
    background-color: white;
    border: 1px solid gray;
}

button.tag {
    border-radius: 30px;
    font-size: 10px;
}

button.tag.purple {
    background-color: #9c72e4;
}

button.tag.orange {
    background-color: #f29e33;
}

button.tag.pink {
    background-color: #d761a0;
}

button.tag.green {
    background-color: #64c0a9;
}

button.tag.peagreen {
    background-color: #b0c926;
}

.task-list h3.open::before{
    content: "⏷";
}

.task-list ul {
    list-style: none;
}

.task-list ul li{
    margin-bottom: 10px;
}

.mark {
    border-style: solid;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    font-size: 12px;
    padding-left: 0.3rem;
}

.mark.check {
    color: green;    
    border-color: green;
}

.mark.check::after {
    content: "✔";
}

.mark.cross {
    color: rgb(128, 0, 0);
    border-color: rgb(128, 0, 0);
}

.mark.cross::after {
    content: "✘";
}